# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/build/
*.iml
.idea/
.pub-cache/
.pub/
.macos/
linux/
windows/
web/
coverage/

# VS Code settings
.vscode/

# Misc
*.log
*.tmp
*.lock
